.profileHead{
    z-index: 1;
}


.EditprofileData{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 48.5%;
    width: 80%;
    top: 10%;
}

.EditdataBoxes{
    width: 47%;
    background-color: rgb(237, 237, 237);
    margin: 1.9%;
    border-radius: 10px;
    border-color: transparent;
    padding: 1%;
}

.Backbutton{
    position: absolute;
    cursor: pointer;
    left: 83%;
    width: 5%;
    top: 5%;
    border: none;
    background-color: transparent;
    z-index: 7;
}

.Savebutton{
    font-size: 90%;
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 78%;
    top: 94%;
    border: 1%;
    border-radius: 10px;
    border-color: transparent;
    background-color: white;
    padding: 0.5%;
    z-index: 7;
}

.Savebutton:hover{
    background-color: #f7f7f7;
    border-color: black;
}