.profileContainer{
    display: flex;
    flex-direction: column;
    left: 15%;
    padding-top: 30%;
    position: relative;
    width: 85%;
}

.profileImage{
    width: 15%;
    border-radius: 10%;
    position: absolute;
    top: 20%;
    left: 5%;
}

.EditImage{
    cursor: pointer;
    border-radius: none !important;
    position: absolute;
    background: transparent;
    left: 17.5%;
    top: 20%;
    color: #fff;
    border: none;
    border-width: 0; 
    border: 0;
}

.SearchBarContainer{
    display:flex;
    left: 25%;
    top: 5%;
    width: 45%;
    position: absolute;
    border-radius: 30px;
    font-size: 110%;
    flex: 1;
}

.SearchbarProfile{
    font-size: 100%;
    flex-grow:2;
    border: none;
    background-color: #f7f7f7;
}

.SearchButton {
    z-index: 1;
    cursor: pointer;
}

.profileDataContainer{
    font-size: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
    position: absolute;
    top: 14%;
}

.ProfileDataNamesContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 4.1%;
}