.profileContainer{
    display: flex;
    flex-direction: column;
    left: 20%;
    padding-top: 60%;
    position: relative;
    width: 85%;
}

.profileImage{
    width: 15%;
    border-radius: 10%;
    position: absolute;
    top: 15%;
    left: 4%;
}


.SearchBarContainer{
    display:flex;
    left: 25%;
    top: 5%;
    width: 45%;
    position: absolute;
    border-radius: 30px;
    font-size: 110%;
    flex: 1;
}

.SearchbarProfile{
    font-size: 100%;
    flex-grow:2;
    border: none;
    background-color: #f7f7f7;
}

.SearchButton {
    z-index: 1;
    cursor: pointer;
}

.profileDataContainer{
    font-size: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
    position: absolute;
    top: 14%;
}

.ProfileDataNamesContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 4.1%;
    font-size: 100%;
}