.Sidebar {
    height: 100%;
    width: 15%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
  }
  
  .SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
  }
  
  .SidebarList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
  }
  
  .row {
    background-color: #2c367f;
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  
  .row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
    color: white;
  }
  
  .SidebarList #active {
    background-color: grey;
  }
  
  .Logo {
    width: 232px;
    max-width: 90%;
    max-height: 90%;
    margin: 5px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .nav-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .nav-text :hover {
    cursor: pointer;
    background-color: grey;
  }
  
  span {
    margin-left: 16px;
  }
  
  .Welkom {
    color: white;
    padding-left: 2%;
    font-size: 150%;
  }
  