.Sidebar {
  height: 100%;
  width: 15%;
  background-color: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 0;
  min-width: 210px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  /* background-color: rgba(183, 197, 183, 0.3); */
  border-radius: 5px;
}

#icon {
  display: flex;
  align-items: center;
}

.SidebarList #active {
  background-color: #d7d7fc;
  border-radius: 5px;
}

.logo {
  font-size: 4.5rem;
  width: 25%;
  margin-top: calc(0.5vh + 0.5vh);
  margin-left: calc(2vh + 1vw);
  padding: 0;
  /* font-size: calc(4.5vw + 1.5vw); */
}

.nav-text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  transition: transform ease-out 0.1s;
}

.nav-text:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #d7d7fc;
}
/* .nav-text :hover {
  cursor: pointer;
  background-color: #b6f3ea79;
} */

span {
  margin-left: 16px;
}

.Welkom {
  color: white;
  padding-left: 2%;
  font-size: 150%;
}
